<div class="hero">
    <h1>Welcome to CSE Motors!</h1>
    <%- messages () %>
    <div class="hero-content">
        <h2>DMC Delorean</h2>
        <p>3 Cup holders<br>Superman Doors<br>Fuzzy dice!</p>
        <!--<p></p>
        <p>Fuzzy dice!</p> -->
        <div class="cta">
            <a href="">Own Today</a>
        </div>
    </div>
</div>
<div class="row">
    <section class="col-1">
        <h2>Delorean Upgrades</h2>
        <div class="upgrade">
            <figure>
                <div class="upgrade-imgs">
                    <img src="/images/upgrades/flux-cap.png" alt="flux-capacitor">
                </div>
                <figcaption>
                    <a href="">Flux-Capacitor</a>
                </figcaption>
            </figure>
            <figure>
                <div class="upgrade-imgs">
                    <img src="/images/upgrades/flame.jpg" alt="flame-decals">
                </div>
                <figcaption>
                    <a href="">flame Decals</a>
                </figcaption>
            </figure>
            <figure>
                <div class="upgrade-imgs">
                    <img src="/images/upgrades/bumper_sticker.jpg" alt="bumper-sticker">
                </div>
                <figcaption>
                    <a href="">bumper sticker</a>
                </figcaption>
            </figure>
            <figure>
                <div class="upgrade-imgs">
                    <img src="/images/upgrades/hub-cap.jpg" alt="hub-cap">
                </div>
                <figcaption>
                    <a href="">hub cap</a>
                </figcaption>
            </figure>
        </div>
    </section>
    <section class="col-2">
        <h2>DMC Delorean Reviews</h2>
        <ul>
            <li>"So fast it's almost like traveling in time" (4/5)</li>
            <li>"Coolest ride on the road." (4/5)</li>
            <li>"I'm feeling McFly!"(5/5)</li>
            <li>"The most futuristic ride of our day"(4.5/5)</li>
            <li>"80's livin and I love it!"(5/5)</li>
        </ul>
    </section>
</div>