@media screen and (min-width:64.1rem) {
    /*Main Section Design*/
    .hero .hero-content {
        margin-left: 2rem;
        padding: 2rem;
    }
    .hero-content h2 {
        font-size: 2.5rem;
    }
    .hero-content .cta {
        text-align: center;
        margin: 2rem 0.5rem;
    }
    .hero .hero-content .cta a {
        padding: 1rem 2rem;
        font-size: 1.2rem;
    }

    /* Inventory By Classification */
    main #inv-display {
        grid-template-columns: 1fr 1fr 1fr;
    }


    /****** Inventory details page ******/
    .inv-card {
        flex-direction: row;
        max-width: 100%;
        gap: 2rem;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

    }
    .inv-card picture,
    .inv-card .inv-card-img {
        padding-top: 1rem;
    }

    .inv-card .inv-card-info {
        background: #f5f7fa;
        padding: 1rem;
    }
}