<div class="mgt-container">
    <h1>
        <%= title %>
    </h1>
    <p><%- messages() %></p>
    <section>
        <div>
            <a href="/inv/create-classification">Add New Classification</a>
        </div>
        <div>
            <a href="/inv/create-inv">Add New Vehicle</a>
        </div>
    </section>
</div>