<div class="err-container">
    <h1>💥 Boom! Your flight ✈ just crashed.</h1>

    <section>
        <h2>
            <%= title %>
        </h2>
        <p>
            <%= message %>
        </p>
        <a href="/" class="btn">Go Back Home</a>
    </section>
</div>

